<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxp.dao.CountyDAO">

    <!--查询城市对应的区县-->
    <select id="supportCounty"  resultType="com.sxp.entity.City">
        select * from city c where c.level = 'region' and c.belongTo = #{0}
    </select>

</mapper>
